* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Poppins&family=Roboto&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}
